@keyframes ldio-vg8q2fsa7xf {
    0% {
        transform: translate(9px, 43px) scale(0);
    }
    25% {
        transform: translate(9px, 43px) scale(0);
    }
    50% {
        transform: translate(9px, 43px) scale(1);
    }
    75% {
        transform: translate(43px, 43px) scale(1);
    }
    100% {
        transform: translate(77px, 43px) scale(1);
    }
}
@keyframes ldio-vg8q2fsa7xf-r {
    0% {
        transform: translate(77px, 43px) scale(1);
    }
    100% {
        transform: translate(77px, 43px) scale(0);
    }
}
@keyframes ldio-vg8q2fsa7xf-c {
    0% {
        background: #002e42;
    }
    25% {
        background: #ffffff;
    }
    50% {
        background: #002e42;
    }
    75% {
        background: #ffffff;
    }
    100% {
        background: #002e42;
    }
}
form#mktoForm_3286 {
    width: 100% !important;
}

input#Email {
    width: 100%;
}
.wrapper-intro p.elk-main-description {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: center;

    color: #2e3141;
    margin-bottom: 0px;
}

.row-out {
    position: relative;
    display: flex;
}

.row-out .section-info {
    width: 41%;
    display: block;
    margin-top: 27px;
    margin-right: 9%;
}

.section-info .sub-title h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #2e3141;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ldio-vg8q2fsa7xf div {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    transform: translate(43px, 43px) scale(1);
    background: #002e42;
    animation: ldio-vg8q2fsa7xf 2.0408163265306123s infinite
        cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-vg8q2fsa7xf div:nth-child(1) {
    background: #ffffff;
    transform: translate(77px, 43px) scale(1);
    animation: ldio-vg8q2fsa7xf-r 0.5102040816326531s infinite
            cubic-bezier(0, 0.5, 0.5, 1),
        ldio-vg8q2fsa7xf-c 2.0408163265306123s infinite step-start;
}
.ldio-vg8q2fsa7xf div:nth-child(2) {
    animation-delay: -0.5102040816326531s;
    background: #002e42;
}
.ldio-vg8q2fsa7xf div:nth-child(3) {
    animation-delay: -1.0204081632653061s;
    background: #ffffff;
}
.ldio-vg8q2fsa7xf div:nth-child(4) {
    animation-delay: -1.530612244897959s;
    background: #002e42;
}
.ldio-vg8q2fsa7xf div:nth-child(5) {
    animation-delay: -2.0408163265306123s;
    background: #ffffff;
}
.loadingio-spinner-ellipsis-2f7w6a0tq98 {
    width: 54px;
    height: 32px;
    display: inline-block;
    overflow: hidden;
    background: rgba(221, 221, 221, 0);
    margin-top: -10px;
}
.ldio-vg8q2fsa7xf {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.54);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-vg8q2fsa7xf div {
    box-sizing: content-box;
}

.wrapper-orange-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(25.05deg, #ffc557 -5.13%, #ffd586 99.81%);
    margin-top: -80px;
    z-index: -1;
}

.form-wrapper {
    z-index: 1000 !important;
}

.custom-header {
    background: #002e42;
}
.wrapper-main-intro {
    padding-top: 5vh;
    height: 95vh;
}
.wrapper-img {
    position: absolute;
    width: 559px;
    height: 100%;
}

.form-description {
    height: 100%;
    bottom: 0;
}
.custom-header {
    padding: 10px 20px;
    border-radius: 15px 15px 0px 0px;
}

iframe#drift-embed-frame {
    border-radius: 0px 0px 15px 15px;
    box-shadow: -22px 22px 30px rgba(63, 81, 127, 0.15);
}

.logos-wrapper {
    display: block;
}

.single-logo {
    width: 25%;
    float: left;
}
.bot-wrapper {
    max-height: 720px;
    overflow: hidden;
    border-radius: 0px 0px 15px 15px;
}
.desc_v {
    display: block;
}
.mob_v {
    display: none;
}
.orange-bg-form-sm {
    margin-top: 0px;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(25.05deg, #ffc557 -5.13%, #ffd586 99.81%);
    margin-left: -15px;
}
@media (max-width: 992px) {
    .wrapper-main-intro {
        background: linear-gradient(25.05deg, #ffc557 -5.13%, #ffd586 99.81%);
    }
    .needs-icon {
        display: none;
    }
    .desc_v {
        display: none;
    }
    .mob_v {
        display: block;
    }
    .request-wrapper {
        min-height: auto;
    }
    .single-logo {
        width: 50%;
        float: left;
        margin-bottom: 20px;
        text-align: center;
    }
    .request-wrapper {
        min-height: auto !important;
        padding-top: 60px;
    }

    iframe#drift-embed-frame {
        min-height: 573px;
    }

    .title-section {
        margin-bottom: 5vh;
    }
}

/* adding new styles to thankyou page */
/*Chrome*/
#range {
    background: linear-gradient(
        to right,
        #f7c15c 0%,
        #f7c15c 15%,
        #f6f9fc 15%,
        #f6f9fc 100%
    );
    border-radius: 8px;
    height: 4px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}
div#catapult-cookie-bar {
    display: none !important;
}

.form-wrapper .form-wrapper__inner h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 56px;
    display: block;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: left;
}
.needs-icon {
    margin-top: 320px;
    margin-right: 0;
    width: 100%;
    text-align: right;
}

.form-wrapper__inner h3 span {
    color: #fff;
}

.form-wrapper__inner p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px !important;
    line-height: 26px;
    display: flex;
    align-items: center;

    color: #2e3141;
}

.mktoButtonRow {
    text-align: left !important;
}
/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Mulish:wght@300;500;700&display=swap); */

.wrap-finished-icon {
    display: none;
}
.wrap-finished-icon {
    float: right;
}
.wrap-to-finish-icon {
    float: right;
}
.wrap-to-finish-icon {
    display: none;
}
.container {
    overflow: visible;
}
.page-template-custom-assessment-thank-you-page .main-header {
    padding-top: 0px;
}
body {
    min-height: 100vh;
}
/* range slider */
.wrapper-next-btn.btn-next.disabled {
    opacity: 0.7;
    background: #e6eaf3;
}
.second-section.section-text {
    width: 50%;
    min-height: 72px !important;
}

.second-section.section-text p {
    padding-bottom: 54px;
}

input[type='range'] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
}

input[type='range']:focus {
    outline: none;
}
.form-wrapper__inner .wrapper-form {
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
}

.form-wrapper__inner button.mktoButton {
    margin-top: 0px !important;
}

/* input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #f7c15c;
  border-radius: 25px;
} */

input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #f7c15c;
    box-shadow: 0 0 4px 0 rgb(235 163 55 / 0.3);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
}

/* input[type='range']:focus::-webkit-slider-runnable-track {
  background: #f7c15c;
} */

.range-wrap {
    width: 100%;
    position: relative;
    display: block;
}

.min-val span {
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #a4afbe;
}
.max-value {
    margin-top: -15px;
}
.min-val {
    margin-top: -15px;
}
.max-value span {
    font-size: 12px;
    line-height: 16px;
    text-align: right;

    color: #a4afbe;
}
.min-val {
    float: left;
    width: 50%;
}

.max-value {
    width: 50%;
    float: right;
    text-align: right;
}

.range-value {
    position: absolute;
    top: -50%;
}

.line-chart {
    position: absolute;
    border-top: 2px solid #f7c15c;
    width: 77%;
    left: 12%;
    bottom: 13%;
    opacity: 0.18;
    transition: 0.3s all;
}

.range-value div {
    width: 61px;
    height: 50px;
    line-height: 24px;
    text-align: center;
    background: #fff;
    color: #002e42;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
    box-shadow: 0px 8px 14px rgba(95, 111, 144, 0.16);
    top: -25px;
}

.range-value div:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
    box-shadow: 0px 8px 14px rgba(95, 111, 144, 0.16);
}

/* range slider */

/* new updates */

/* .col-md-8 {
    width: 66%;
    float: left;
}

.col-lg-4-full {
    float: left;
    width: 33%;
} */

/* .wrapper-form {
    max-width: 400px;
    margin-left: 47px;
}

.col-lg-4-full {
    background: linear-gradient(348.98deg, #FFC557 11.22%, #FFD586 86.68%);
    box-shadow: inset 7px 0px 45px -3px rgba(42, 39, 78, 0.34);
    min-height: 100vh;
}
.col-lg-4-full{
    background: linear-gradient(348.98deg, #FFC557 11.22%, #FFD586 86.68%);
    min-height: 100vh;
    height: 100%;
} */

.blue-bg-form {
    margin-top: -1px;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(25.05deg, #ffc557 -5.13%, #ffd586 99.81%);
    box-shadow: inset 18px -4px 34px -14px rgba(108, 84, 39, 0.32);
}
.blue-bg-form-sm {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(25.05deg, #ffc557 -5.13%, #ffd586 99.81%);
    box-shadow: inset 7px 0px 45px -3px rgba(42, 39, 78, 0.34);
}
button.mktoButton {
    width: 100%;
    margin-top: 12px !important;
}
.wrapper-form {
    width: 85%;
    margin-top: 40px;
    margin-left: 15%;
    height: 100%;
}
.form-description {
    position: absolute;
    bottom: -50%;
    max-width: 559px;
    width: 80% !important;
    right: 0px;
}
.wrapper-img {
    text-align: center;
}
.form-description img {
    width: 97%;
}

.error {
    font-family: 'Mulish' i !important;
    font-style: normal;
    line-height: 18px;
    color: #ff6e6e;
    text-align: center !important;
    width: 50%;
    margin: 0% 25% 0px 0% !important;
    display: flex;
    align-items: baseline !important;
    justify-content: left;
    padding: 4px !important;
    border-radius: 4px;
    font-size: 12px;
}

li.parsley-custom-error-message {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    color: #ff6e6e;
    float: left;
}

/* new updates */
/* toggler days */
ul.days_wrap {
    padding: 0;
    list-style: none;
    background: #f6f9fc;
    display: flex;
    border-radius: 25px;
    padding: 6px;
    float: right;
}

ul.days_wrap li {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #a4afbe;
    padding: 10px 16px;
    border-radius: 26px;
}

li.active {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(79, 118, 178, 0.14);
    color: #002e42 !important;
}

.range-wrap {
    width: 100%;
}

.content-wrap {
    position: relative;
}
.toggler {
    display: block;
    width: 100%;
    height: 100%;
    position: initial;
    min-height: 50px;
}

.range-wrap {
    margin-top: 60px;
}
.toggler {
    display: block;
    width: 100%;
    height: 100%;
    position: initial;
    min-height: 50px;
}

.range-wrap {
    margin-top: 60px;
}

div#rangeV span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #002e42;
}

div#rangeV p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #bcc6d4;
}
ul.days_wrap li {
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
/* toggler days */
/*  general */
.wrapper-next-btn.btn-next {
    cursor: pointer;
}

.wrapper-back-btn.btn-prev {
    cursor: pointer;
}

.wrapper-back-btn.btn-prev:hover {
    box-shadow: 0 4px 6px 0 rgba(1, 45, 65, 0.2);
    transition: 0.3s all;
}

.wrapper-next-btn.btn-next:hover {
    box-shadow: 0 4px 6px 0 rgba(1, 45, 65, 0.2);
    transition: 0.3s all;
}
.section-text p {
    padding-left: 7%;
    width: 76%;
    margin: auto;
    /* margin-top: -48px; */
    padding-right: 11%;
    margin-bottom: 0px !important;
    padding-bottom: 36px;
}

.wrapper-timeline {
    position: relative;
}

.second-section.section-text p {
    border-left: 2px solid #bcc6d4;
}

.section-text {
    position: relative;
    display: inline-block;
    width: 25%;
}

.third-section.section-text p {
    border-left: 2px solid #bcc6d4;
}

.fourth-section.section-text p {
    border-left: 2px solid #bcc6d4;
}
.wrapper-timeline {
    display: inline-table;
    width: 85%;
    float: left;
    position: absolute;
    margin-top: -50px;
}
.wrapper-controller__inner .line {
    width: 94%;
    display: inline-block;
    height: 6px;
    background: #f6f9fc;
    position: relative;
    float: left;
    margin-left: 3%;
}

.wrapper-timeline p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #a4afbe;
}
.wrapper-back-btn.btn-prev {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    background: #e6eaf3;
    border-radius: 80px;
    float: left;
}

.wrapper-back-btn.btn-prev svg {
    transform: rotate(90deg);
    margin-left: 19px;
    margin-top: 20px;
}
.wrapper-controllers {
    display: none;
}
.wrapper-controllers {
    position: absolute;
    bottom: -235px;
    width: 100%;
    transition: 0.3s all;
}
.wrapper-next-btn.btn-next {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 34px;
    color: #002e42;
    background: #f5c15c;
    border-radius: 100px;
    padding: 8px 24px;
    text-align: center;
    float: right;
}

.wrapper-next-btn.btn-next p {
    margin-bottom: 0px;
}
.wrapper-controllers {
    padding-top: 85px;
    padding-bottom: 50px;
    background: linear-gradient(248.84deg, #f3f7fb -0.3%, #f3f3f9 102.04%);
}

.wrapper-controller__inner {
    padding: 13px;
    box-shadow: 0px 10px 20px -6px rgba(79, 118, 178, 0.14);
    border-radius: 100px;
    background-color: #fff;
}
div#slider {
    display: none;
}

header.main-header.when-intro {
    padding-top: 1%;
    transition: 0.3s all;
}

header.main-header.when-intro p {
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #002e42;
    margin-top: 13px;
}

/* general */

/* form */
.form-wrapper {
    display: none;
}

.form-wrapper h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #002e42;
}

.form-wrapper p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #002e42;
}
.wrapper-form input,
.form-wrapper input {
    width: 100% !important;
    background: #f6f9fc;
    border-radius: 5px;
    border: 0px;
    padding: 19px 21px !important;
}
form#mktoForm_3164 label {
    display: none !important;
}

form#mktoForm_3164 {
    width: 100% !important;
}

.mktoFieldDescriptor.mktoFormCol {
    width: 100%;
}
.form-wrapper__inner {
    margin-top: 10vh;
}
.mktoOffset {
    display: none;
}

.mktoFieldWrap.mktoRequiredField {
    width: 100% !important;
}

.mktoGutter.mktoHasWidth {
    display: none;
}
button.mktoButton:hover {
    box-shadow: 0 4px 6px 0 rgb(1 45 65 / 20%);
}
button.mktoButton {
    transition: 0.3s all ease-in-out;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #fff !important;
    background: #002e42 !important;
    border-radius: 80px;
    border: 0px !important;
    padding: 16px 24px !important;
}
.wrapper-form h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #002e42;
}
.t-b,
.t-a {
    margin-top: 15px;
    margin-bottom: 15px;
}
.wrapper-intro .form-description p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #002e42;
}
/* form */
/* thank you page */
.thank-you-wrapper {
    margin-top: 12%;
}
.thank-you-wrapper h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 56px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #002e42;
}

.thank-you-wrapper p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;

    color: #002e42;
    margin-bottom: 75px;
}

.inner-wrapper__section {
    background: linear-gradient(248.84deg, #f3f7fb -0.3%, #f3f3f9 102.04%);
    border-radius: 10px;
    position: relative;
    min-height: 224px;
}

.inner-wrapper__img img {
    box-shadow: 0px 10px 20px -6px rgba(79, 118, 178, 0.14);
}

.inner-wrapper__img {
    position: absolute;
    right: -8px;
    top: -8px;
}
.inner-wrapper__info {
    width: 37%;
    margin-left: 6%;
    padding-top: 42px;
}

.wrapper-text__info h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #002e42;
}
.progress-line {
    height: 6px;
    border-radius: 0px 5px 5px 0px;
    transition: 0.3s all;
    width: 25%;
}
.wrapper-text__info {
    margin-top: 42px;
}
/*  thank you page */
.counter span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    color: #002e42;
}

.counter p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    color: #bcc6d4;
}
body {
    transition: all 0.3s ease-in-out;
}
.logo-wrapper svg {
    width: 78px;
    height: 46px;
}
header.main-header {
    padding-top: 5%;
}
a.cta:hover {
    box-shadow: 0 4px 6px 0 rgba(1, 45, 65, 0.2);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.line-orange {
    height: 0px;
    background: #f7c15c;
}
.main-header p {
    display: none;
}

.wrapper-intro h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #002e42;
}

.wrapper-intro h1 span {
    color: #fff !important;
}

.wrapper-intro p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #002e42;
    margin-bottom: 45px;
}

.wrapper-what-get h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #002e42;
}

.sub-title h4 {
    font-family: 'Mulish';
    font-style: normal;
    color: #002e42;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    color: #002e42;
    margin-bottom: 25px;
}
.section-info h3 {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
}
.section-info {
    margin: 12px 0px;
    float: left;
    clear: left;
}

.section-info {
    display: inline-flex;
}

.sub-title {
    /* margin-top: 25px; */
    width: 100%;
}

a.cta.cta_start {
    background: #f7c15c;
    border-radius: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    display: inline-flex;

    color: #002e42;
    padding: 20px 24px;
}

.wrapper-what-get {
    padding: 90px 0px 150px;
}

#logo {
    text-align: center;
    padding-bottom: 1%;
}

#logo img {
    width: 150px;
    position: absolute;
    right: 50px;
}

.question {
    margin: auto;
    width: 80%;
    padding-top: 7rem;
    position: relative;
}

h2.question-text {
    margin-top: 32px;
    color: #024656;
    font-family: 'Montserrat';
    /*padding-top: 20%;*/
    padding-bottom: 2%;
    font-size: 24px;
    line-height: 32px;
    font-weight: 100;
}
p.active span {
    color: #fff;
    background: #002e42;
    padding: 5px;
    border-radius: 5px;
}

.first-section.section-text p {
    width: 84%;
    padding: 0px 8%;
}

p.active span:after {
    content: '';
    display: block;
    position: absolute;
    top: 39px;
    border-style: solid;
    border-color: transparent #022e42;
    border-width: 6px 0 15px 6px;
    width: 0;
    height: 0;
    left: 0;
}
label:hover {
    background-color: rgb(43 168 139 / 0.1);
    color: #2ba88b;
    transition: 0.3s all;
}

.q_wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

label {
    flex-wrap: wrap;
}

.q_wrapper label {
    align-items: center;
    justify-content: center;
    display: flex;
}
p.active span {
    position: relative;
}
.second-section.section-text p {
    width: 60%;
    padding-bottom: 36px;
}
textarea.fill-in {
    width: 100%;
    min-height: 20vh;
    background: #eee;
    border: none;
    border-radius: 0;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    padding: 1rem 1.5rem;
    color: #444;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 2rem;
    box-sizing: border-box; /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box; /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}

textarea.fill-in:active,
textarea.fill-in:focus {
    outline: none;
    border: none;
}

button.fill-in-submit {
    display: inline-block;
    opacity: 1;
    position: absolute;
    right: 0;
    /*float: right;*/
    z-index: 10;
    margin-top: 2em;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 2.5px;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: button;
    /*display: inline-block;*/
    font-weight: 400;
    background: linear-gradient(to bottom right, #024656, #035767 50%);
    color: #fff;
    line-height: 0;
    border: none;
    letter-spacing: -0.05em;
    text-transform: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.feedback {
    margin-top: 2em;
    opacity: 0;
    display: inline-block;
    position: absolute;
    left: 0;
    /*color: #c81900;*/
    font-size: 1.2em;
    font-family: 'Montserrat';
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.feedback.no-answer {
    padding-left: 20px;
    color: #035767;
}

.feedback.no-answer span {
    font-size: 3em;
}

.feedback.correct span {
    padding-left: 20px;
    color: green;
    font-size: 3em;
}

.feedback.incorrect span {
    padding-left: 20px;
    color: red;
    font-size: 3em;
}

.feedback p {
    height: 3.2em;
    display: table-cell;
}

.feedback p span {
    vertical-align: middle;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.hidden-question {
    display: none;
}

.remove {
    display: none;
}

[type='radio']:not(:checked),
[type='radio']:checked {
    position: absolute;
    left: -9999px;
}

input[type='radio'] {
    display: inline;
}

[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::after {
    /* background: #e42a54;
  position: absolute;
  top: 50%;
  left: 11px;
  width: 22px;
  height: 22px;
  border: 1px solid #f0f2f2;
  margin-top: -11px; */
}

[type='radio']:not(:checked) + label,
[type='radio']:checked + label {
    position: relative;
    padding-left: 42px;
    cursor: pointer;
    box-sizing: border-box;
}
.question label {
    border-radius: 5px;
    text-align: center;
    width: 46%;
    float: left;
    margin-right: 4%;
    padding-left: 0px !important;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
}
/* [type='radio']:checked + label {
  background-color: rgb(43 168 139 / 0.1);
  color: #2ba88b;
} */
label.active {
    background-color: rgb(43 168 139 / 0.1);
    color: #2ba88b;
}
[type='radio']:not(:checked) + label::before,
[type='radio']:checked + label::before {
    /* content: '';
  position: absolute;
  top: 50%;
  left: 12px;
  width: 20px;
  height: 20px;
  border: 1px solid #666;
  background: #f8f8f8;
  border-radius: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-sizing: border-box; */
}

[type='radio']:not(:checked) + label::before,
[type='radio']:checked + label::before {
    /* content: '';
  position: absolute;
  top: 50%;
  left: 12px;
  width: 20px;
  height: 20px;
  border: 1px solid #666;
  background: #f8f8f8;
  border-radius: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
  box-sizing: border-box; */
}

label {
    display: block;
    width: 100%;
    background: #f0f2f2;
    padding: 0.75em;
    margin: 0.25em 0;
    margin-top: 0;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    line-height: 1.75rem;
    font-family: 'Montserrat';
    font-size: 1.2em;
    font-weight: 600;
}

[type='radio']:not(:checked) + label::after {
    opacity: 0;
    transform: scale(1.2);
    box-sizing: border-box;
}

[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::after {
    /* content: ' ';
  background: #333;
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  line-height: 0.8;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -7px;
  box-sizing: border-box; */
}

[type='radio']:checked + label::after {
    opacity: 1;
    transform: scale(1);
    box-sizing: border-box;
}

[type='radio']:not(:checked) + label::after,
[type='radio']:checked + label::after {
    /* content: ' ';
  background: #333;
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  line-height: 0.8;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -7px;
  box-sizing: border-box; */
}

.navigation.btn-next,
.navigation.btn-prev {
    position: absolute;
    /*background: #FFF;
    background: rgba(0, 0, 0, .5);*/
    color: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    width: 44px;
    height: 44px;
    bottom: 10px;
    right: 40px;
    top: auto;
    left: auto;
    cursor: pointer;
    /*-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;*/
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    -webkit-transition: background 200ms ease-in-out, opacity 200ms ease-in-out,
        color 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out, opacity 200ms ease-in-out,
        color 200ms ease-in-out;
    -ms-transition: background 200ms ease-in-out, opacity 200ms ease-in-out,
        color 200ms ease-in-out;
    -o-transition: background 200ms ease-in-out, opacity 200ms ease-in-out,
        color 200ms ease-in-out;
    transition: background 200ms ease-in-out, opacity 200ms ease-in-out,
        color 200ms ease-in-out;
}

.navigation.btn-next {
    margin-right: -28px;
}

.navigation.btn-prev {
    margin-right: 28px;
}

.bottom_cta {
    display: none !important;
}
@media only screen and (min-width: 1100px) {
    body.sticky_banner_top {
        margin-top: 0px !important;
    }
}
@media (max-width: 1441px) {
    .form-description {
    }
    .form-description img {
        width: 80%;
    }
    .wrapper-what-get {
        padding: 50px 0 100px;
    }
    header.main-header {
        padding-top: 2%;
    }
}
.body_wrapper {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
@media (max-width: 993px) {
    .body_wrapper {
        height: 100vh;
        overflow: visible;
    }
    .form-description {
        position: relative;
        max-width: 100%;
        width: 80% !important;
    }
    .wrapper-form h3 {
        color: #002e42;
    }

    .form-description p {
        color: #002e42 !important;
    }

    input#Email {
        height: 50px;
    }
    .blue-bg-form-sm {
        display: none;
    }

    .blue-bg-form {
        display: none;
    }
    /* .orange-bg-form-sm {
    display: none;
  } */

    .wrapper-form {
        width: 90%;
        margin-left: 5%;
        margin-top: 40px;
        padding-bottom: 90px;
    }

    form#mktoForm_3250 input {
        height: 50px;
    }
    .question {
        margin: auto;
        width: 80%;
        padding-top: 2rem;
        position: relative;
    }
    h2.question-text {
        margin-top: 15px;
        color: #024656;
        font-family: 'Montserrat';
        /* padding-top: 20%; */
        padding-bottom: 2%;
        font-size: 24px;
        font-weight: 100;
    }
    .question label {
        width: 100%;
        margin-right: 0px;
        margin-top: 14px;
        padding: 10px !important;
    }
    .range-wrap {
        margin-top: 120px;
    }
    .wrapper-controllers {
        position: absolute;
        bottom: -235px;
        width: 100%;
        transition: 0.3s all;
        margin-top: 70px;
    }
    .wrapper-start {
        min-height: 80px;
    }
    .section-info .icon {
        margin-right: 15px;
    }
    .sub-title h4 {
        font-family: 'Mulish';
        font-style: normal;
        color: #002e42;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        color: #002e42;
        margin-bottom: 10px;
    }
    .section-info {
        display: inline-flex;
        align-items: center;
    }
    .wrapper-intro h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 30px;
        align-items: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #002e42;
        margin-bottom: 25px;
    }

    body {
        min-height: 100%;
    }
    .wrapper-timeline {
        display: none;
    }
    #mktoForm_3164 input {
        /* padding-top: 12px !important; */
        height: 50px !important;
    }
}
@media screen and (max-width: 1440px) and (max-height: 800px) {
    body {
        min-height: 100%;
    }
    .wrapper-controllers {
        position: relative;
        bottom: -235px;
        width: 100%;
        transition: 0.3s all;
        margin-top: 20px;
    }
}
