@import url(../css/button.css);
@import url(../css/input.css);

html,
body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    box-sizing: border-box;
    transition: 0.3s all ease-in-out;
    background-color: #e0e7f0;
}

.body_wrapper {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.steps {
    margin: auto;
    width: 80%;
    padding-top: 7rem;
    position: relative;
    display: flex;
    justify-content: center;
}
.controllers {
    padding-top: 85px;
    padding-bottom: 50px;
    background: linear-gradient(248.84deg, #f3f7fb -0.3%, #f3f3f9 102.04%);
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 0.3s all;
    display: flex;
    justify-content: center;
}
.steps-title {
    margin: 0;
    color: #024656;
    font-family: 'Montserrat';
    padding-bottom: 2%;
    font-size: 24px;
    line-height: 32px;
    font-weight: 100;
}
.choice {
    border-radius: 5px;
    text-align: center;
    width: 46%;
    float: left;
    margin-right: 4%;
    font-family: 'Montserrat';
    color: #024656;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    border: 0px;
    padding: 10px 15px;
    min-height: 70px;
}

.choice:hover {
    background-color: rgb(43 168 139/0.1);
    color: #2ba88b;
    transition: 0.3s all;
}

.second_step,
.third_step,
.fourth_step,
.five_step {
    display: none;
}

.row {
    background: linear-gradient(248.84deg, #f3f7fb -0.3%, #f3f3f9 102.04%);
    padding: 30px;
    border-radius: 5px;
}
.form_label {
    color: #024656;
    font-family: 'Mulish';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    display: flex;
    align-items: baseline;
}

.select-control {
    border-radius: 3px;
    padding: 4px;
    min-height: 29px;
    border: 0;
}
.form-control {
    position: relative;
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
}
